<!-- <html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Hello world!</h1>
        <p>We can build a full webpage here</p>
        <form method = "post" action="/results">
            <input type="text" name="nickname" value="Enter your nickname"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html> -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> Welcome to the Genergation Predictor Website</h1>
    <head>
        <meta charset="UTF-8">
        <title>Display data</title>
        <script>
            function displayDate(){
              document.getElementById("showDate").innerHTML = Date();
            }
        </script>
    </head>
    <body>
        <button type="button" onclick="displayDate()">Show Date</button>
        <p id="showDate"></p>

    <p class="lead">Select which year you were born: </p>


  </div>
  <form >
    <label for="userdata">Birth year:</label>
    <input type='text' name='userdata'>
    <input type='submit'>
  </form>

  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1946-1960</a>
    <a class="dropdown-item" href="#">1961-1980</a>
    <a class="dropdown-item" href="#">1981-1995</a>
    <a class="dropdown-item" href="#">1995-Present</a>
  </div
