<!-- <html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Hello world!</h1>
        <p>We can build a full webpage here</p>
        <form method = "post" action="/results">
            <input type="text" name="nickname" value="Enter your nickname"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html> -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> Welcome to the Generation Conversion Website</h1>
    <head>
        <meta charset="UTF-8">
        <title>Display data</title>
        <script>
            function displayDate(){
              document.getElementById("showDate").innerHTML = Date();
            }
        </script>
    </head>
    <body>
        <button type="button" onclick="displayDate()">Show Date</button>
        <p id="showDate"></p>

    <p class="lead">Input the year you would like to search: </p>


  </div>
  <form method = "POST" action = "/results">
    <label for="userdata">Birth year:</label>
    <input type='text' name='userdata'>
    <input type='submit'>
  </form>
